h1 {
    display: block;
    front-size: medium;
    font-weight: bold;
    color: pink
}

body {
    background-color: lightblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid black;
}

button {
    padding: 12px 24px;
    front-size: 16px;
    background-color: white;
    color:aqua;
    border: 3px solid black;
    cursor: pointer;
}
.container{
    text-align: center;
}
